body{
    background-color:rgb(187, 187, 187);
    color:black;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    font-size:16px;
    font-weight: normal;

    line-height:1.6em;

}


a:hover{
    color: red;
}



#homeHeader{
    font-size: 20px;
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1;
    
}
#homeHeader a{
    color: black;
    text-decoration: none;
}


#pageSelect{
    display: flex;
    margin: auto;
    width: 1000px;
    justify-content: space-around;
    margin-bottom: 1.8em;
    
    
}

.container{
    width:1000px;
    margin:auto;
}
.post{
    padding: 5px;
    padding-top: 3px;
    margin:10px;
    padding-bottom: 15px;
    background-color:rgb(177, 174, 174);
    
    
}
.post a{
    padding-bottom:.5em;
}
.post img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    padding-bottom: .5em;
}

.box-1{
    padding-bottom: 10px;
}



